{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="certificate-card">
  <a href="{{ post.link }}" target="_blank" title="{{ post.title }}">
    <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="certificate-image">
  </a>
  <div class="certificate-info">
    <h3 class="certificate-title">{{ post.title }}</h3>
    <p>{{ post.institution }}</p>
    <p>{{ post.date }}</p>
    <p><strong>ID Credential:</strong> {{ post.credential }}</p>
  </div>
</div>
